<!--<mat-toolbar class="p-0 mat-elevation-z1">-->

<!--    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">-->

<!--        <div style="flex:1" fxLayout="row" fxLayoutAlign="space-between center">-->
<!--            <button mat-button class="user-button" [routerLink]="'/'">-->
<!--                <mat-icon>home</mat-icon>-->
<!--            </button>-->
<!--            <button mat-button class="user-button" [routerLink]="'/search'">-->
<!--                <mat-icon>search</mat-icon>-->
<!--            </button>-->
<!--            <button mat-button class="user-button" [routerLink]="'/post'">-->
<!--                <mat-icon>add_a_photo</mat-icon>-->
<!--            </button>-->
<!--            <button mat-button class="user-button">-->
<!--                <mat-icon>notifications_none</mat-icon>-->
<!--            </button>-->
<!--            <button mat-button class="user-button" [routerLink]="'/messages'">-->
<!--                <mat-icon>sms</mat-icon>-->
<!--                <div class="new-message"></div>-->
<!--            </button>-->
<!--        </div>-->

<!--    </div>-->

<!--</mat-toolbar>-->