<div class="page-layout blank" fxLayout="row" fxLayoutAlign="center"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     [infiniteScrollContainer]="'#container-3'"
     [fromRoot]="true"
     (scrolled)="onScroll()">
    <div id="search">
        <div class="header">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field class="search-field" appearance="outline">
                    <mat-icon matPrefix class="secondary-text">search</mat-icon>
                    <input matInput placeholder="Enter a keyword..." [formControl]="searchInput"
                           [(ngModel)]="searchTerm">
                </mat-form-field>
                <img *ngIf="loading" src="assets/images/loading/loading-spinner-blue.gif" class="loading mt-16" />
            </div>
        </div>

        <div class="content">
            <div class="users" fxLayout="column" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">
                <span class="matchs-text" [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
	             Notifications
	        </span>
                <button mat-button class="user" *ngFor="let user of users" [@animate]="{value:'*',params:{y:'100%'}}"
                        (click)="onUserClicked(user.postId)">

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="avatar-wrapper" fxFlex="0 1 auto" fxLayoutAlign="center center">
                            <img src="{{user.avatar}}" class="avatar" />
                        </div>

                        <div fxLayout="row" fxFlex>
                            <div class="pr-4" fxFlex fxLayout="column" fxLayoutAlign="center start">
                                <div class="username">{{user.username}}</div>
                                <div class="where">{{user?.msg}}</div>
                            </div>
                            <div class="pt-4 secondary-text">{{formatPeriod(user?.createdAt)}}</div>
                        </div>
                    </div>
                </button>

                <div cclass="no-courses" *ngIf="!loading && users.length === 0">
                    No Notifications Found!
                </div>
            </div>
        </div>
    </div>
</div>