<div id="accounts" class="accounts">
  
    
    <!-- CENTER -->
    <div class="center center">
      <!-- CONTENT -->
      <div class="content" fxLayout="column" >

        <!-- <fuse-mail-list fusePerfectScrollbar fxFlex [mails]="mails$ | async" [currentMail]="currentMail$ | async"></fuse-mail-list>
                <fuse-mail-details [mail]="currentMail$ | async" fusePerfectScrollbar fxFlex></fuse-mail-details> -->
        <app-accounts-data></app-accounts-data>
      </div>
      <!-- / CONTENT -->

    
    </div>
    <!-- / CENTER -->

  

</div>